 body{
            background-image: url(../img/2.png);
            background-position: center center;
            background-repeat: cover;
            background-attachment: fixed;
            background-size: 110vw;
            font-family: 'Times New Roman', Times, serif;
            
           
        }



        .style1{
            font-family: 'Times New Roman', Times, serif ;
            font-weight: 400;
            font-size: 6vw;
            color: rgb(18, 48, 45);
            background-color: rgb(150, 202, 196);
            margin-top: -0.2%;
        }
        .style2{
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 5wv;
            color: rgb(16, 50, 54);
            text-decoration: underline;

        }
        .style3{
            font-family: 'Times New Roman', Times, serif;
            font-weight: 200;
            font-size: 100%;
            color: rgb(60, 112, 117);
            margin-top: -3vw;
        }


        